#img-wrapper img {

    width: 200px;
    height: 200px;
    float: left
}

#container { 
    display:flex;
flex-direction:row;
align-content: space-between
}

#sidebar{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    width:500px;
    font-size: 8px;
    margin-left: 10px
}

#fancy-box{ 
    display: flex;
border: 10px solid blue;

border-radius: 15%;

}

#inner-container{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    max-width: 85vw;
 height: calc(100vh -20px)
}